<% content_for(:title, "New contact | Wikipages") %>

<h1><%= @contact.name %></h1>

<a href="/contacts/<%= @contact.id %>/phones/new">Add phone</a>

<p>Phones: </p>

<ul>
<% @contact.phones.each do |phone| %></p>
<li>
  <%= phone.number %> |
  <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a>
  <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
    data-confirm="you sure?"
    data-method="delete"
    rel="nofollow">Delete</a>
  </li>
  <% end %>
</ul>
<p>Email: <%= @contact.email %></p>

<p><a href="/contacts/<%= @contact.id %>/edit">Edit</a></p>
<p><a href="/contacts/<%= @contact.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow">Delete</a></p>

<p><a href="/contacts">Return to contact listing</a></p>
